* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;

}

.container {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
}

.header {
    background-color: #454F5B;
}

.header-container {
    margin-bottom: 20px;
}

.header-container .discount {
    display: flex;
    align-items: center;
    padding: 9px 0;
}

.discount p {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 12%;
    color: #fff;
    margin-right: auto;
    margin-left: auto;

}

.discount div a {
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 12%;
    color: #fff;
    transition: all 0.5s;
}

.discount div a:hover {
    color: rgb(102, 194, 234);
}

.header-nav {
    border-bottom: 1px solid #C4CDD5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    background-color: #fff;
}

.nav-container .logo-com {
    display: flex;
    align-items: center;
    gap: 105px;
    position: relative;
}

.nav .nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-items .items a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.nav-items .items a:hover {
    color: rgb(102, 194, 234);

}

.phone {
    display: flex;
    align-items: center;
    gap: 35px;
}

.phone .number {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-container {
    margin-bottom: 32px;
}

.main-container .subinfo {
    margin-bottom: 40px;
}
.subinfo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.subinfo a {
    line-height: 26px;
    text-decoration: none;
    color: #161C24;
}
.subinfo span{
    font-size: 24px;
}
.subinfo [accesskey]{
    color: rgba(69, 79, 91, 0.3);
}

.main-container .title h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    margin-bottom: 32px;
}

.title h1 span {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.block .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .box {
    display: flex;
    align-items: center;
    gap: 31px;
}

.box .button1 {
    padding: 7px 72px;
    border: 1px solid #ADD7FF;
    background-color: #fff;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    transition: all 0.5s;
}

.box .button1:hover {
    background-color: #ADD7FF;
}

.box .button2 {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    font-size: 16px;
    line-height: 26px;
    gap: 9px;
    cursor: pointer;
}

.form .button3 {
    padding: 7px 16px;
    font-size: 16px;
    line-height: 26px;
    background-color: #fff;
    border: 1px solid #ADD7FF;
    cursor: pointer;
    transition: all 0.5s;

}

.form .button3:hover {
    background-color: #ADD7FF;
}

.hero-info-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 30px;
    margin-bottom: 100px;
}

.hero-info-container .containet__cards {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-info-container .filtr {
    border: 1px solid #ADD7FF;
    width: 288px;
    padding: 24px 24px 9px 24px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.filtr h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    color: #161C24;
    margin-bottom: 24px;

}

.filtr .sena {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.filtr .sena img {
    cursor: pointer;
}

.filtr div .but {
    padding: 10px 30px;
    border: 1px solid #4295E4;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    background-color: #fff;
}

.filtr div {
    margin-bottom: 16px;
}

.hero-info-container .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-box {
    padding: 16px 0;
    background-color: #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ADD7FF;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 500;
    line-height: 26px;



}

.card-box img {
    cursor: pointer;
}

.card {
    width: 288px;
    border: 1px solid #EAEAEA;
}

.card .diw1 {
    width: 288px;
    height: 320px;
    background-image: url(../images/Rectangle.png);
    padding: 12px;
}

.cclas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cross {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    margin-bottom: 8px;
    background-color: transparent;
}

.sale {
    padding: 8px 10px;
    background-color: #fff;
    border: none;
}

.wwww {
    padding: 8px;
    background-color: #fff;
    border: #fff;
}

.diw2 {
    padding: 12px;
}

.diw2 div img {
    cursor: pointer;
}

.diw2 div {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 9px;

}

.diw2 p {

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #161C24;

}

.diw2 p span {
    text-decoration: line-through;
    color: #454F5B;
}

.hero-info-container .container__corusel {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 507px;
    margin-right: auto;

}

.container__corusel div {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.container__corusel .corusel__img {
    transition: all 0.5s;
}

.container__corusel .corusel__img:hover {
    background-color: #EAEAEA;
}

.container__corusel .carus {
    background-color: #4295E4;

}

.container__corusel div a {
    text-decoration: none;
    color: #161C24;
}

.container__corusel .carus a span {
    color: #fff;
}

/*  */
.seen__container {
    margin-bottom: 96px;
}

.seen__container--title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.seen__container--title .title h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
}

.seen__container--title .left-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.seen__container--title .left-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: all 0.5s;
}

.seen__container--title .left-right a:hover {
    background-color: #EAEAEA;
}

.seen__container--title .left-right a img {
    width: 20px;
    height: 30px;

}

.seen__container--cards .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */

.Eget__container .Eget-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 82px;
}

.Eget__container--info {
    width: 605px;

}

.Eget__container--info h2 {

    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: #161C24;
    margin-bottom: 24px;
}

.Eget__container--info p {

    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #454F5B;
    margin-bottom: 24px;

}

.Eget__container--info .Eget__container--form {
    display: flex;
    align-items: center;
    gap: 32px;
}

form {
    margin-bottom: 24px;
}

.form-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-block div label {

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #161C24;
}

.call {
    background-color: #F2F8FF;
    padding: 64px 346px 56px 346px;
    text-align: center;
}

.call-info h2 {

    font-size: 44px;
    font-weight: 600;
    line-height: 62px;
    color: #161C24;
    margin-bottom: 24p;


}

.call-info p {
    width: 518px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #454F5B;
    margin-bottom: 24px;
    margin: 0 auto;
}

.call-from {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.call-from input {
    padding: 12px 16px;
    border: none;
    background: #161C240A;
    outline: none;

}

.call-from button {
    padding: 12px 70px;
    border: none;
    color: #fff;
    background-color: #4295E4;
    transition: all 0.5s;
}

.call-from button:hover {
    background-color: #145da0;
}

.footer {
    background: #0D2436;
    padding-top: 55px;
    padding-bottom: 25px;
}

.footer__container--start {
    display: flex;
    align-items: flex-start;
    gap: 170px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__logo-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 144px;
}

.footer__logo-link .links {
    display: flex;
    align-items: center;
    gap: 24px;
}


.footer__container--info {
    display: flex;
    align-items: flex-start;
    gap: 97px;
}

.footer--desc {
    width: 170px;
    display: flex;
    flex-direction: column;
}

.footer--desc h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    margin-bottom: 24px;
}

.footer--desc a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 16px;
    transition: all 0.5s;
}

.footer--desc a:hover {
    color: #145da0;
    text-decoration: underline;
}

.footer--text--end {
    padding-top: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    color: #fff;
}